html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  color: #8c00ff;
  font-family: "Georgia";
  font-size: 40px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 15px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
}

h3 {
  color: #8c00ff;
  font-family: "Georgia";
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 0;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

h4 {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 15px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  padding-right: 10px;
}
h5 {
  color: #000000;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  line-height: 15px;
  margin: 0 0 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
}
h6 {
  color: #000000;
  font-family: "Georgia";
  font-size: 18px;
  font-weight: normal;
  line-height: 15px;
  margin: 0 0 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.centertext {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customh4 {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 15px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 12px;
}
.customh4balance {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 23px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 17px;
}
.customh4new {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 43px 0 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 18px;
}
.customh4newnew {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 43px 0 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 12px;
}
.customh4newnewnew1 {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 43px 0 60px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 0px;
}
.customh4newnewnew2 {
  color: #000000;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 43px 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  /* text-shadow: 1px 1px 2px #fab4b4;   */
  align-items: center;
  padding-right: 10px;
  /* padding-left:12px; */
}
.customh4sell {
  color: #ca0c0c;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 15px;
}

.customh4buy {
  color: #03ac00;
  font-family: "Georgia";
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0 0px;
  text-align: center;
  text-shadow: 1px 1px 2px #00ddff;
  align-items: center;
  /* padding-right:10px; */
  padding-left: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  /* grid-gap: 10px;
  grid-auto-columns: minmax(50px, auto); */
}
.row1 {
  display: flex;
  flex-direction: row;
  align-items: top;
  /* justify-content: center; */
}
.row11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.one {
  width: 60%;
  grid-column: 1 / 3;
}
.two {
  width: 20%;
  grid-column: 2 / 3;
  /* display: flex; */
  padding: 3px;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex; */
}
.three {
  width: 20%;
  grid-column: 3/3;
  /* padding: 3px; */
  /* margin: 20px 20px 20px 10px;  */
  /* border-radius: 10px; */
  /* background-image: linear-gradient(to right,  #affff8, rgb(194, 165, 255)); */
  grid-template-rows: repeat(3, 1fr);
}
.threerow1 {
  height: 34.5%;
  grid-row: 1/3;
  padding: 2px;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* grid-template-rows: repeat(2, 1fr); */
}
.threerow2 {
  height: 29%;
  grid-row: 2/3;
  padding: 2px;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* grid-template-rows: repeat(2, 1fr); */
}

.threerow3 {
  height: 25%;
  grid-row: 3/3;
  padding: 2px;
  margin: 20px 20px 20px 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* grid-template-rows: repeat(2, 1fr); */
}

.onerow1 {
  height: 40%;
  grid-row: 1/2;
  padding: 3px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* grid-template-rows: repeat(2, 1fr); */
}
.onerow2 {
  height: 40%;
  grid-row: 2/2;
  padding: 3px;
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
  /* grid-template-rows: repeat(2, 1fr); */
}

/* .four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    color: black;
    background: rgb(255, 255, 255);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  position: sticky;
  z-index: 30;
  top: 0;
}
nav {
  display: flex;
  padding: 16px;
  /* justify-content: space-between; */
  align-items: center;
  background-image: linear-gradient(to right, #ffdd00, rgb(255, 157, 0));
}

.gap {
  padding: 10px;
}

.floatingnav {
  display: flex;
  padding: 3px;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  /* justify-content: space-between; */
  align-items: center;
  background-image: linear-gradient(to right, #affff8, rgb(194, 165, 255));
}

.button-81 {
  width: 110px;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  /* padding: 0.5rem 1.6rem; */
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #7700ff;
  color: #fff;
}

.button-81:hover {
  background-color: #fff;
  color: #000000;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 0.7rem 0.7rem;
  }
}

.button-85 {
  width: 250px;

  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 5px;
  font-weight: 600;
  line-height: 1;
  /* padding: 0.5rem 1.6rem; */
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #7700ff;
  color: #fff;
}

.button-85:hover {
  background-color: #fff;
  color: #000000;
}

@media (min-width: 768px) {
  .button-85 {
    font-size: 1.125rem;
    padding: 0.7rem 0.7rem;
  }
}

.button-89 {
  width: 200px;

  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 5px;
  font-weight: 600;
  line-height: 1;
  /* padding: 0.5rem 1.6rem; */
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: #7700ff;
  color: #fff;
}

.button-89:hover {
  background-color: #fff;
  color: #000000;
}

@media (min-width: 768px) {
  .button-89 {
    font-size: 1.125rem;
    padding: 0.7rem 0.7rem;
  }
}

.button-82 {
  width: 130px;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  /* border-radius: 1.5rem; */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82:hover {
  background-color: #7700ff;
  color: #fff;
}

@media (min-width: 768px) {
  .button-82 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.widthgapnewnew {
  width: 335px;
}
.widthgapnewnewnew {
  width: 125px;
}
.widthgap {
  width: 20px;
}
.heightgap {
  height: 7px;
}
.heightgapnew {
  height: 4px;
}
.widthgapnew {
  width: 170px;
}
.widthgapneww {
  width: 650px;
}

.dropdown {
  margin: 5px 0;
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border-radius: 50%;
  /* border: 1px solid grey; */
  width: 150px;
}

/* .menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
} */

/* .dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
} */

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: #f1f1f1;
}
.nav__menu-list.active {
  right: 0;
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.logo-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /* overflow: hidden; */
  /* margin-top: -6px; */
  background-image: url("../Images/By.jpg");
  background-size: cover;
}

/* <!-- HTML !-->
  <button class="button-33" role="button">Button 33</button> */
.button-35 {
  margin: 0 0 0 0px;
  /* background-color: #fbc2c2; */
  /* border-radius: 100px; */
  /* box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 44, 0.15) 0 2px 4px,rgba(187, 44, 44, 0.15) 0 4px 8px,rgba(187, 44, 44, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: rgb(128, 0, 0); */
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  /* padding: 7px 20px; */
  /* text-align: center; */
  /* text-decoration: none; */
  /* transition: all 250ms; */
  /* border: 0; */
  /* font-size: 25px; */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* .button-33 {
  margin: 0 0 0 0px; 
  background-color: #fbc2c2;
  border-radius: 100px;
  box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(187, 44, 44, 0.15) 0 2px 4px,rgba(187, 44, 44, 0.15) 0 4px 8px,rgba(187, 44, 44, 0.15) 0 8px 16px,rgba(187, 44, 44, 0.15) 0 16px 32px;
  color: rgb(128, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

.button-33 {
  background-color: #c2fbd7;
  margin: 7px 0 0 0px;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 175, 187, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 175, 187, 0.35) 0 1px 2px, rgba(44, 175, 187, 0.35) 0 2px 4px,
    rgba(44, 175, 187, 0.35) 0 4px 8px, rgba(44, 175, 187, 0.35) 0 8px 16px,
    rgba(44, 175, 187, 0.35) 0 16px 32px;
  /* transform: scale(1.05) rotate(-1deg); */
}

.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar {
    display: none;
  }
  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: black;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
